body {
    /* height: 100vh; */
    background-image: url("./img/image1116.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.backg {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;

}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 300px;
}


table {

    background-color: ffff26;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
    opacity: 50%;

}

table:hover {
    opacity: 100%;
}



.go {
    display: flex;
    justify-content: center;
}

button {
    background-color: aliceblue;
    ;
    border-radius: 7px;
}

button:hover {
    background-color: white;
}