body {
    /* height: 100vh; */
    background-image: url("./img/chrom_dino_run_360.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.backg {
    height: 500px;
    margin: 200px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;

}
input{
    width: 230px;
    height: 25px;
    border-radius: 10px;
}

td {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 500px;
}


table {
    background-color: azure;
    border-radius: 60px;
    opacity: 80%;

}

table:hover {
    opacity: 100%;
}

.go {
    display: flex;
    justify-content: center;
}

button {
    background-color: aliceblue;
    font-size: 25px;
    width: 200px;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(195, 206, 215);
}



.backg div {}

.title {}